<template>
  <div class="home">xddd</div>
</template>

<script>
export default {
  metaInfo: {
    title: 'Food theme',
  },
};
</script>

<style lang="scss" scoped>
.home {
  color: $primary;
}
</style>
